.CardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* .dogImagepng{
  
} */

.homeDiv{
    background-color: rgb(158, 176, 192);
}



.welcome{
    font-family: "Comic Sans MS", "Comic Sans";
}

