.CardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dogImagepng{
    margin-left: 985px;
    transform: translateY(-300px);
}

.homeDiv{
    background-color: rgb(158, 176, 192);
}



.welcome{
    font-family: "Comic Sans MS", "Comic Sans";
}

