.breedInputCss{
    font-family: "Comic Sans MS", "Comic Sans";
    transform: translateY(72px)
    
}

.breedButtonCss{
    font-family: "Comic Sans MS", "Comic Sans";
    transform: translateY(72px)
}

